<!DOCTYPE html>
<html>

<head>
    <title>register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Yelpcamp</a>
            </div>
        </div>
    </nav>
    <h1>register</h1>

    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Sign Up</button>
        <button><a href="/login">login</a></button>
    </form>
</body>

</html>